.hero-banner {
  position: relative;

  &__image {
    margin: 0;
    @include fluid-aspect(3 4, img);

    @include from(l) {
      @include fluid-aspect(16 7, img);
    }
  }

  &__caption {
    position: absolute;
    top: rem(40px);
    width: 100%;
    text-align: center;

    @include from(l) {
      width: 50%;
      left: 60%;
      max-width: rem(430px);
      @include center('vertical');
    }
  }
}
