.multistep {
  background-color: $gray-lighter;

  &__nav {
   margin: rem(20px) 0;
   justify-content: space-between;
   text-align: center;

   @include from(l) {
    justify-content: center;
    align-items: center;
    margin-top: rem(60px);
    margin-bottom: rem(90px);
   }
  }

  &__nav-item {
    display: block;
    width: 48%;
    margin-bottom: rem(16px);

    @include from(l) {
      width: auto;
      margin: 0 rem(10px) rem(20px);
    }
  }

  .nav-pills {

    .multistep__nav-link {

      &.active {
        background-color: $secondary;
      }
    }
  }

  &__heading {
    padding-top: rem(10px);
    padding-bottom: rem(16px);

    @include from(l) {
      padding-top: rem(30px);
      padding-bottom: rem(30px);
    }
  }

  &__title {
    text-align: center;
  }

  &__item {
    background-color: transparent;
    padding-top: rem(30px);
    padding-bottom: rem(30px);

    &.hidden {
      padding: 0;
    }
  }

  &__box {
    background-color: $white;
    margin-top: rem(20px);
    margin-bottom: rem(20px);
    position: relative;
    text-align: center;
    transition: all .3s;

    input {
      cursor: pointer;
      opacity: .02;
      @include coverAbsolute(1);
    }

    &.active {
      background-color: $gray-text;
      transform: scale(1.05);

      .multistep__label,
      .headline {
        color: $white;
      }
    }

    &--cloned {
      width: rem(120px);
      height: rem(120px);
      padding: 0;

      span {
        background-color: $secondary;
        color: $white;
        position: absolute;
        cursor: pointer;
        z-index: 2;
        top: rem(-5px);
        left: rem(-5px);

        &:hover {
          background-color: red;
        }
      }
    }
  }

  &__thumb {
    background-color: $white;
  }

  &__actions {
    display: flex;
    justify-content: center;
    padding-top: rem(16px);
    padding-bottom: rem(30px);

    @include from(l) {
      padding-top: rem(30px);
      padding-bottom: rem(30px);
    }
  }

  &__b-products {
    display: flex;
    align-items: flex-start;
    align-items: stretch;
  }

  &__b-box,
  &__b-card {

    .js-remove-prod {
      display: none;
    }
  }
}
