.button {
  background-color: $primary;
  display: block;
  transition: all .3s;

  &__content {
    color: $white;
    vertical-align: middle;
  }

  &__icon {
    color: $white;
    @include font(30px);
    vertical-align: middle;
  }

  &:hover {
    background-color: $secondary;
  }
}
