@font-face {
  font-family: 'Biko';
  src: url('../fonts/Biko/Biko.woff2') format('woff2'),
      url('../fonts/Biko/Biko.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Biko';
  src: url('../fonts/Biko/Biko-Bold.woff2') format('woff2'),
      url('../fonts/Biko/Biko-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/Baskerville-SemiBold.woff2') format('woff2'),
      url('../fonts/Baskerville/Baskerville-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/Baskerville-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Baskerville/Baskerville-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/Baskerville-BoldItalic.woff2') format('woff2'),
      url('../fonts/Baskerville/Baskerville-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/Baskerville-Bold.woff2') format('woff2'),
      url('../fonts/Baskerville/Baskerville-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/Baskerville-Italic.woff2') format('woff2'),
      url('../fonts/Baskerville/Baskerville-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Baskerville';
  src: url('../fonts/Baskerville/Baskerville.woff2') format('woff2'),
      url('../fonts/Baskerville/Baskerville.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

